.Nav {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Light Theme */
.Nav.light {
  background-color: #f4f4f4;
  color: black;
}

/* Dark Theme */
.Nav.dark {
  background-color: #333;
  color: white;
}

.Nav h1 {
  margin: 0;
  margin-right: auto;
}

.Nav h3 {
  margin: 0 15px;
  cursor: pointer;
}

.Nav h3:hover {
  color: #00bcd4;
}
